  .createPost {
    width: 100%; 
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
}

.createPost__input {
    border-radius: 3px;
    width: 70%;
    height: 30px;
    padding: 12px;

    background: #fff;
    border: 1px solid #e7e7e7;
    border-right: 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.1;
    color: #333;
    font-style: italic;
    font-weight: 300;
}

.createPost__input::placeholder {
    color: #ccc;
}

.createPost__input:focus {
    outline: 0;
    border-color: green;
}

.createPost__btn {
    border-radius: 3px;
    width: 30%;
    height: auto;
    padding: 12px 30px;

    background-color: green;
    border: 0;
    cursor: pointer;

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.1;
    font-weight: 400;
    color:#fff;
    text-transform: uppercase;

    transition: background .2s linear;
}

.createPost__btn:hover {
    background-color: green;
}

.createPost__btn:focus {
    outline: 0;
}